---
layout: default
---

<div class="list">
{% if site.posts.size == 0 %}
  <h2>Nenhuma postagem ainda!</h2>
{% else %}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
    {% else %}
    <a href="{{ post.url | prepend: site.baseurl }}">
    {% endif %}
      <div class="list-post-date">
        <time>
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}Jan
          {% when '2' %}Fev
          {% when '3' %}Mar
          {% when '4' %}Abr
          {% when '5' %}Mai
          {% when '6' %}Jun
          {% when '7' %}Jul
          {% when '8' %}Ago
          {% when '9' %}Set
          {% when '10' %}Out
          {% when '11' %}Nov
          {% when '12' %}Dez
        {% endcase %}
        {{ post.date | date: "%Y" }}
        </time>
      </div>
      <div class="list-post-title">
        {{ post.title }}
      </div>
      {% if post.featured %}
      <div class="list-post-featured">
        <img src="{{ site.url }}/assets/posts/{{ post.date | date: '%Y/%-m' }}/{{ post.featured }}" alt="Destaque: {{ post.title }}">
      </div>
      {% endif %}
      {% if post.excerpt %}
      <div class="list-post-desc">
        {{ post.excerpt }}
        <p class="more">Continuar lendo</p>
      </div>
      {% endif %}
    </a>


  </div>
{% endfor %}
  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          Anterior
        </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          Próximo
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      {% else %}

      {% endif %}
    </span>

  </div>
{% endif %}
</div>
