<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      {{ site.title | escape }}
      <span>{{ site.description | escape }}</span>
    </h2>

    <div class="footer-col-wrapper">
      {% if site.github.username %}
        {% include icon-github.html username=site.github.username %}
      {% endif %}

      {% if site.twitter.username %}
        {% include icon-twitter.html username=site.twitter.username %}
      {% endif %}

      {% if site.discord.username %}
        {% include icon-discord.html username=site.discord.username %}
      {% endif %}

      {% if site.forum.username %}
        {% include icon-forum.html username=site.forum.username %}
      {% endif %}
    </div>
    <div class="footer-col-wrapper netlify-banner">
      <p>
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" width="114" height="51" alt="Implantado por Netlify | Deploys by Netlify">
        </a>
      </p>
    </div>

  </div>

</footer>
